:root {
  --blue: rgb(37, 99, 235);
  --blue-dark: #1d4ed8;
  --ink: rgb(17, 24, 39);
  --ink-soft: rgb(110, 139, 201);
  --body: rgb(55, 65, 81);
  --line: rgb(229, 231, 235);
  --soft: rgb(249, 250, 251);
  --soft-2: rgb(243, 249, 255);
  --soft-2-hover: rgb(228, 235, 241);
  /* topbar/navbar */
  --navbar-glass: rgba(255, 255, 255, 0.678);
  --navbar-solid: rgba(255, 255, 255);
  --navbar-hover: rgba(17, 15, 15, 0.1);
  /* footer */
  --footer-bg: #111827;
  --footer: #f9fafbcc;
  --footer-border: #f9fafb1a;
  /* main */
  --bg-hero1: #eff6ff;
  --bg-hero2: #e0e7ff;
  --color-border: #00000071;
  --shadow: rgba(0, 0, 0, 0.12);
}

html[data-theme='dark'] {
  --blue: rgb(37, 162, 235);
  --blue-dark: #1d4ed8;
  --ink: #ffff;
  --ink-soft: rgb(190, 199, 221);
  --body: rgb(238, 241, 247);
  --line: rgb(229, 231, 235);
  --soft: rgb(249, 250, 251);
  --soft-2: rgb(37, 47, 58);
  --soft-2-hover: rgb(64, 138, 180);
  /* topbar/navbar */
  --navbar-glass: rgba(15, 13, 24, 0.411);
  --navbar-solid: rgba(15, 13, 24);
  --navbar-hover: rgba(231, 223, 223, 0.1);
  /* footer */
  --footer-bg: #111827;
  --footer: #f9fafbcc;
  --footer-border: #f9fafb1a;
  /* main */
  --bg-hero1: #293f5c;
  --bg-hero2: #1a1027;
  --bg: #07090e;
  --form-bg: #22273d;
  --color-border: #f9fafb1a;
  --shadow: rgba(255, 255, 255, 0.384);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--blue) transparent;
}

/* styling scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue-dark);
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--ink);
  line-height: 1.6;
  background-color: var(--bg);
}

/* back to top btn */
.back-to-top {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 40;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--line);
  border-radius: 100%;
  background: var(--navbar-glass);
  backdrop-filter: blur(8px);
  color: var(--blue);
  font-size: 28px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  transition: all ease-in-out 0.25s;
}

.back-to-top:hover {
  background: var(--navbar-solid);
  transform: translateY(-3px);
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* universal */
.btn-solid {
  background-color: var(--blue);
  color: var(--soft);
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  color: var(--blue);
  border: 1px var(--blue) solid;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-solid:hover {
  opacity: 0.9;
}

.btn-outline:hover {
  opacity: 0.7;
}

.btn-solid:active {
  opacity: 0.6;
}

.btn-outline:active {
  background-color: var(--blue);
  color: var(--soft);
  opacity: 1;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 3rem;
  }
}

.image-frame-1 {
  border: 5px dashed var(--blue);
  border-radius: 16px;
  width: 100%;
  display: block;
}
